@font-face {
  font-family: "body";
  src: url("../fonts/IBMPlexSans-Text.woff") format("woff");
}

@font-face {
  font-family: "bold";
  src: url("/fonts/IBMPlexSans-Bold.woff") format("woff");
}

body {
  font-family: "body", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

a {
  color: #1e6bb8;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.btn {
  border: 1px solid #1e6bb8;
  padding: 20px;
  background: #1e6bb8;
  color: #FFF;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 20px;
}

.page-header {
  color: #000;
  text-align: center;
  padding: 100px 0;
}

.page-header .logo {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-family: "bold", sans-serif;
  font-weight: 700;
}

.donate-prompt a {
  color: #000;
  opacity: 0.6;
  font-size: 0.9em;
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.main-content { 
  margin: 0 auto;
  max-width: 600px;
}

.main-content > :first-child {
  margin-top: 0;
}

.main-content img {
  display: block;
  width: 660px;
  margin: 0 auto;
  margin-left: -30px;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.36); 
  box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.36);
}

@media screen and (max-width: 600px) {
  .main-content img {
    width: 100%;
    margin-left: 0;
  }
}

h2,
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  font-family: "bold", sans-serif;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #000000;
}
.main-content p {
  margin-bottom: 1em;
}

.main-content pre {
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 16px;
  background: rgba(0,0,0,0.06);
  padding: 16px 30px 14px;
  margin: 1em -30px;
  border-radius: 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-style: normal;
}
.main-content pre > code {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #567482;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.main-content .highlight,
.main-content img {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.main-content ul,
.main-content ol {
  margin-top: 0;
}
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0;
}
.main-content blockquote > :first-child {
  margin-top: 0;
}
.main-content blockquote > :last-child {
  margin-bottom: 0;
}
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
.main-content table th {
  font-weight: bold;
}
.main-content table th,
.main-content table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e9ebec;
}
.main-content dl {
  padding: 0;
}
.main-content dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.main-content dl dd {
  padding: 0;
  margin-bottom: 1rem;
}
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0;
}

@media screen and (min-width: 64em) {
  nav, .main-content {
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  nav, .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 42em) {
  nav, .main-content {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1;
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: #819198;
}

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 7px;
}


nav {
  display: flex;
  justify-content: space-between;
}

ol {
  padding-left: 0;
  list-style: none;
  counter-reset: my-awesome-counter;
}

ol > li {
  margin-bottom: 30px;
  counter-increment: my-awesome-counter;
}

ol > li::before {
  content: counter(my-awesome-counter);
  min-width: 40px;
  display: inline-block;
  position: absolute;
  margin-left: -100px;
  font-size: 24px;
}
