<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Anki-leo - Exportar tus palabras de LinguaLeo en Anki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/anki-leo/stylesheets/stylesheet.css" media="screen">
  </head>
  <body>
    <nav>
      <a href="/anki-leo/en/" class="logo">
        <img src="/anki-leo/src/icons/48x48.png" alt="ankileo" width="32" height="32"/>
        AnkiLeo
      </a>
      <a href="/anki-leo/en/#donate">❤️ Apoyar el proyecto</a>
    </nav>

    <section class="main-content">
      {{content}}
    </section>
      

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-489896-6");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>

