<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Anki-leo - Перенос словаря из LinguaLeo в Anki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
  </head>
  <body>
    <nav>
    </nav>
    <section class="page-header">
      <a href="/" class="logo">
        <img src="src/icons/128x128.png" alt="ankileo" width="128" height="128"/>
        AnkiLeo
      </a>
      <h2 class="project-tagline1">Перенесите ваш словарь с LinguaLeo в Anki</h2>
      <a href="https://chrome.google.com/webstore/detail/lingualeo-dictionary-expo/mpaohidlipnfnkbogpmanchjfjpdgcml" class="btn">Установить для Chrome</a>
      <div class="donate-prompt">
        <a href="#donate">❤️ Поддержать проект</a>
      </div>
    </section>

    <section class="main-content">
      {{content}}

      <h1 id="donate">Поддержать проект</h1>

      <div class="donate">
        <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0%20%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D1%8F%20anki-leo&targets-hint=&default-sum=200&button-text=12&hint=&successURL=&quickpay=shop&account=41001373246756" width="423" height="222" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
      </div>

      <footer class="site-footer">
        <span class="site-footer-owner">Maintained by <a href="https://github.com/troggy">Kosta Korenkov</a>.</span>
      </footer>
    </section>
      

            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-489896-6");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>

