<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Anki-leo - Перенос словаря из LinguaLeo в Anki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/anki-leo/stylesheets/stylesheet.css" media="screen">
  </head>
  <body>
    <nav>
      <div></div>
      <div class="lang">
        <a href="/anki-leo/en/">🇬🇧</a>
        <a href="/anki-leo/">🇷🇺</a>
        <a href="/anki-leo/es/">🇪🇸</a>
        <a href="/anki-leo/tr/">🇹🇷</a>
      </div>
    </nav>
    <section class="page-header">
      <a href="/anki-leo/" class="logo">
        <img src="/anki-leo/src/icons/128x128.png" alt="ankileo" width="128" height="128"/>
        AnkiLeo
      </a>
      <h2 class="project-tagline1">Перенесите ваш словарь с LinguaLeo в Anki</h2>
      <a href="https://chrome.google.com/webstore/detail/lingualeo-dictionary-expo/mpaohidlipnfnkbogpmanchjfjpdgcml" class="btn">Установить для Chrome</a>
      <div class="donate-prompt">
        <a href="/anki-leo/#donate">❤️ Поддержать проект</a>
      </div>
    </section>

    <section class="main-content">
      {{content}}

      <h1 id="donate">Поддержать проект</h1>

      <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="KostaKorenkov" data-color="#FFDD00" data-emoji="📖"  data-font="Arial" data-text="Купи мне книгу" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
    </section>
      

            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-489896-6");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>

