<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Anki-leo - Export your words from Lingualeo into Anki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/ankileo/stylesheets/stylesheet.css" media="screen">
  </head>
  <body>
    <nav>
      <div></div>
      <div class="lang">
        <a href="/ankileo/en/">🇬🇧</a>
        <a href="/ankileo/">🇷🇺</a>
        <a href="/ankileo/es/">🇪🇸</a>
        <a href="/ankileo/tr/">🇹🇷</a>
      </div>
    </nav>
    <section class="page-header">
      <a href="/ankileo/en/" class="logo">
        <img src="/ankileo/src/icons/128x128.png" alt="ankileo" width="128" height="128"/>
        AnkiLeo
      </a>
      <h2 class="project-tagline1">Export your words from Lingualeo into Anki</h2>
      <a href="https://chrome.google.com/webstore/detail/lingualeo-dictionary-expo/mpaohidlipnfnkbogpmanchjfjpdgcml" class="btn">
        Install for Chrome
      </a>
      <div class="donate-prompt">
        <a href="/ankileo/en/#donate">❤️ Support the project</a>
      </div>
    </section>

    <section class="main-content">
      {{content}}

      <h1 id="donate">Support the project</h1>

      <div class="donate">
        <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0%20%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D1%8F%20anki-leo&targets-hint=&default-sum=200&button-text=12&hint=&successURL=&quickpay=shop&account=41001373246756" width="423" height="222" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
      </div>
    </section>
      

            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-489896-6");
              pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>

