details#ankileo-btn > summary {
  list-style: none;
}

details#ankileo-btn > summary::-webkit-details-marker {
  display: none;
}

details#ankileo-btn ul {
  list-style: none;
  text-align: left;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  position: absolute;
  z-index: 10;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 4px 12px 0 rgba(0,0,0,.06);
}

details#ankileo-btn ul a {
  display: block;
  margin: 4px 4px;
  padding: 8px 12px;
  color: #37383c;
  border-radius: 4px;
}

details#ankileo-btn ul a:hover {
  color: #2582e7;
  background-color: rgba(37,130,231,.08)
}
